<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">

  <title>Contact Form #1</title>
</head>

<body>
  <ul>
    <li><a href="/"><img class="logo" src="images/black_moni.png"></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/new-user">List a new user</a></li>
    <li><a class="active" href="/edit-password">Edit password</a></li>   
    <li><a href="/view-users">View Users</a></li>
  </ul>

  <div class="content">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">

          <div class="row align-items-center">
            <div class="col-lg-4 ml-auto">
              <div class="border-right pr-5 mb-5">
                <img src="images/moni_image.jpg">
                <h2 class="mb-5">moni.</h2>
              </div>
            </div>
            <div class="col-lg-7 mb-5 mb-lg-0">

              <form method="post" id="change-password" name="add-user">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="password" class="form-control" name="old_password" id="old_password"
                      placeholder="Old Password">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="password" class="form-control" name="new_password" id="new_password"
                      placeholder="New Password">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Change password" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2023 A test submission by Fadekemi Adebayo</p>
  </div>

  <script>
    const form = document.getElementById("change-password");
    form.addEventListener("submit", submitForm);

    const getUser = async (email) => {
      const response = await fetch(`http://localhost:8000/api/users?search=${email}`)
      const data = await response.json()
      console.log("email request data from frontend", data.users[0].id)
      return data.users[0].id
    }

    async function submitForm(event) {
      event.preventDefault();
      const email = document.getElementById("email").value;
      const old_password = document.getElementById("old_password").value;
      const new_password = document.getElementById("new_password").value;
      const payload = { old_password, new_password };
      userId = await getUser(email)
      console.log("user ID", userId)
      const response = await fetch(`http://localhost:8000/api/users/${userId}`, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(payload)
      });
      const data = await response.json();
      console.log(data);
      if (data.status == "success") {
        alert("Password successfully updated");
      }
      else {
        if (data.detail[0].msg) {
          alert(data.detail[0].msg);
        }
        alert(data.detail);
      }
    }
  </script>
</body>

</html>